:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
